<footer class="text-light py-4">
  <div class="container">
      <div class="row py-5 mt-5">
          <div class="col-md-4">
              <h5>About Us</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet turpis ut enim lacinia, eget
                  convallis justo tempor.</p>
          </div>
          <div class="col-md-4">
              <h5>Contact Us</h5>
              <p>Beni Suef, Egypt</p>
              <p>Email: Team4@iti.gov.eg</p>
              <p>Phone: +20 1125825065</p>
          </div>
          <div class="col-md-4">
              <h5>Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a routerLink="/home">Home</a></li>
                  
                  <li><a routerLink="/randomProduct">Products</a></li>
                  <li><a routerLink="/contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="text-center mt-3">
      <p>&copy; 2024 WOODY. All Rights Reserved.</p>
  </div>
</footer>
