.logo{
    font-weight: bold;
    font-size: 22px;
}
#sidebarMenu ul li a{
background: none;
background-color: transparent;
text-decoration: none;
}
#sidebarMenu{
    background-color: transparent;
}
header{
    margin-top: -90px;
    background-color: gray;
  padding: 10px;
  width: 100%;
}
header a{
background-color: gray;
color: #fff!important;

}