<section id="contact" class="py-5">
    <div class="container">
        <!-- <h2>CONTACT US</h2> -->
        <div class="row">
            <div class="col-5 imgContact">
                <!-- <img src="./assets/Images/home1.png" alt=""> -->
            </div>
            <div class="col-5">
            </div>
            <div class="col-10 row">
                <form method="post" action="redirect.html" class="col-7">
                    <input type="text" name="name" id="name" placeholder="FULL NAME" required />
                    <input type="email" name="email" id="email" placeholder="EMAIL" required />
                    <textarea placeholder="MESSAGE" required></textarea>
                    <button type="submit">CONTACT US</button>
                </form>
                <div class="col-4">
                    <div>
                        <h3>MESSAGE</h3>
                        <p>TEAM4@ITI.GOV.EG</p>
                    </div>
                    <div>
                        <h3>BASED ON</h3>
                        <p>BENI-SUEF, EGYPT</p>
                    </div>
                    <div class="icons">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-square-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>