#contact form input,
textarea {
    display: block;
}
#contact h3{
    font-weight: bold;
}

#contact form input,
textarea {
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(211, 211, 211);
    background-color: transparent;
    background: none;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
#contact form{
    background: none;
    background-color: transparent;
}
#contact form button {
    margin-top: 40px;
    text-align: center;
    padding: 12px;
    background-color: rgb(87, 87, 87);
    color: #fff;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    box-shadow: #181818 0px 20px 30px -10px;
    width: 100%;
}

#contact form button:hover {
    background-color: gray;
    transition: all 0.5s;
}

#contact .col-10 {
    border: 1px solid rgb(99, 98, 98);
    border-right: none;
    padding: 70px 30px;
    z-index: 1;
    margin-left: 250px;
    background: none;
    background-color: transparent;
}

#contact .col-4 {
    text-align: center;
    padding-top: 20px;
    padding-left: 40px;
}

#contact .col-4 div:nth-child(2) {
    padding-top: 10px;
}

#contact .icons {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}

#contact .icons i {
    justify-content: space-around;
    padding-left: 20px;
}

#contact {
    position: relative;
}

#contact h2 {
    padding-left: 10px;
}

.imgContact {
    position: absolute;
    top: 24%;
    left: 1%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('/assets/Images/2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
}
