

<div class="">


  <!-- start navbar -->
  <div
    class=" headerdiv md:fixed md:w-full md:top-0 md:z-20 flex flex-row flex-wrap items-center p-6 border-b border-gray-300">


    <div class="flex-none w-56 flex flex-row items-center text-light fw-bold">
      <h2 style="font-size: 22px; color: rgb(231, 230, 230); margin-left: 20px;">WOOD<span style="color: #fff;">Y</span></h2>
    </div>
    <button class="btn israabtn" routerLink="/login">Sign Out</button>



    <hr>

    <hr>

    <!-- end bottom -->
  </div>




  <!-- strat wrapper -->
  <div class="h-screen flex flex-row flex-wrap">

    <!-- start sidebar -->
    <div id="sideBar"
      class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster">


      <!-- sidebar content -->
      <div class="flex flex-col">

        <!-- sidebar toggle -->

        <!-- end sidebar toggle -->



        <!-- link -->
        <a  routerLink="/admin/dashboard" class="mb-3 capitalize font-medium text-bg transition ease-in-out duration-500">
          <i class="fad fa-chart-pie text-xs mr-2"></i>
          dashboard
        </a>
        <!-- end link -->

        <!-- link -->
        <a  routerLink="/admin/add-product" class="mb-3 capitalize font-medium transition ease-in-out duration-500">
          <i class="fad fa-shopping-cart text-xs mr-2"></i>
          Product Management
        </a>

        <a routerLink="/admin/admin-order" class="mb-3 capitalize font-medium transition ease-in-out duration-500">
          <i class="fad fa-shield-check text-xs mr-2"></i>
          Order Management
        </a>
        <a routerLink="/admin/user-management" class="mb-3 capitalize font-medium transition ease-in-out duration-500">
          <!-- <i class="fad fa-shopping-cart text-xs mr-2"></i> -->
          <i class="fa-solid fa-user text-xs mr-2"></i>
          User Management
        </a>
        <a routerLink="/admin/admin-contact" class="mb-3 capitalize font-medium transition ease-in-out duration-500">
          <!-- <i class="fad fa-envelope-open-text text-xs mr-2"></i> -->
          <i class="fad fa-comments text-xs mr-2"></i>
          Messages
        </a>
        <!-- end link -->







      </div>
      <!-- end sidebar content -->

    </div>

    <!-- end sidbar -->

    <!-- strat content -->

    <div class="contentisraa"> <router-outlet></router-outlet></div>
    <!-- end content -->

  </div>
  <!-- end wrapper -->

  <!-- script -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="js/scripts.js"></script> -->
  <!-- end script -->



   <!-- <div class="israafooter">
  <app-footer></app-footer>
</div>  -->
</div>

