<div class="banner">
  <div class="row">
    <div class="col-7">
      <h2 class="fw-bold">THE FURNITURE<br>THAT<br>EVERYONES LOVE!</h2>
      <p class="text-muted pt-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio maiores dignissimos,
        aliquam cum ea sapiente molestiae totam quasi accusamus fugiat aliquid qui assumenda asperiores aperiam natus
        aut doloremque delectus impedit!</p>
      <button class="btn btn-lg button" routerLink="/randomProduct"><i class="bi bi-bag"></i>SHOP NOW</button>
    </div>
    <div class="col-5"> <img class="bannerImg" src="./assets/Images/hh.png" alt=""></div>
  </div>
</div>
<section>
  <div class="welcome-container">
    <h2 class="fw-bold">NEW ARRIVALS</h2>
    <div class="welcomeDiv row">
      <p class="text-center py-3">Explore our website to discover a world of possibilities.</p>
    </div>
  </div>
  <div class="container my-container mx-auto">
    <div class="row row-cols-1 col-12 row-cols-md-4 g-3 ">
        <div class="col-md-3 col-sm-6" *ngFor="let product of products.slice(0, 4)">
            <div class="card mb-3" OpenProductDetails [productId]="product.id"> 
              <div class="imgdiv">
                <img  src="https://localhost:7149{{product.image}}" class="card-img-top product-image" alt="Product Image">
              </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <!-- <p class="card-text">{{ product.description }}</p> -->
                    <p class="card-text">Price: {{ product.price }}$</p>
                    <button class="btn button" (click)="addToCart(product)" [disabled]="!utilityService.isLoggedIn()">
                      Add to Cart
                      <span *ngIf="!utilityService.isLoggedIn()" class="btn button text-muted"> (Login First)</span>
                    </button>
                 <br>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- <div class="container text-center justify-content-center align-items-center">
    <div class="row row-cols-1 col-12 row-cols-md-4 g-3 ">
      <div class="col-3">
        <div class="card">
          <div class="imgdiv">
            <img src="./assets/Images/2.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">IPhone 15 Pro Max</h5>
            <p class="card-text">The latest iPhone with advanced features.</p>
          </div>
          <div class="cardbtn">
            <button type="button" class="btn button" routerLink="/randomProduct">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="imgdiv">
            <img src="./assets/Images/3.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">IPhone 15 Pro Max</h5>
            <p class="card-text">The latest iPhone with advanced features.</p>
          </div>
          <div class="cardbtn">
            <button type="button" class="btn button" routerLink="/randomProduct">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="imgdiv">
            <img src="./assets/Images/header1.png" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">MacBook Pro</h5>
            <p class="card-text">Powerful Mackbook pro for professionals.</p>
          </div>
          <div class="cardbtn">
            <button type="button" class="btn button" routerLink="/randomProduct">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="imgdiv">
            <img src="./assets/Images/4.png" class="" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Dell XPS 15</h5>
            <p class="card-text">High-performance laptop with a stunning display.</p>
          </div>
          <div class="cardbtn">
            <button type="button" class="btn button" routerLink="/randomProduct">Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>

<section class="py-5 my-5 about">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="./assets/Images/chair.png" alt="" />
      </div>
      <div class="col-6 align-self-center justify-content-center">
        <h3 class="fw-bold">NEW EXPERIENCE IS GOING TO UNLOCK</h3>
        <P class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sunt eveniet itaque porro, molestias,
          labore voluptates hic vel ad atque totam repellat, modi in praesentium temporibus id enim corporis excepturi.
        </P>
        <button type="button" class="btn button text-center fw-bold" routerLink="/randomProduct">Shop Now</button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="welcome-container">
    <h2 class="fw-bold">EXPLORE NOW</h2>
    <div class="welcomeDiv row">
      <p class="text-center py-3">Explore our website to discover a world of possibilities.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
<div class="row">
    <div class="col-md-6 col-sm-6" *ngFor="let product of products.slice(0, 4)">
      <div class="card mb-3" OpenProductDetails [productId]="product.id"> 
        <div class="imgdiv">
          <img  src="https://localhost:7149{{product.image}}" class="card-img-top product-image" alt="Product Image">
        </div>
          <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <!-- <p class="card-text">{{ product.description }}</p> -->
              <p class="card-text">Price: {{ product.price }}$</p>
              <button class="btn button" (click)="addToCart(product)" [disabled]="!utilityService.isLoggedIn()">
                Add to Cart
                <span *ngIf="!utilityService.isLoggedIn()" class="btn button text-muted"> (Login First)</span>
              </button>
           <br>
          </div>
      </div>
  </div>
    
  </div>

      </div>
        <div class="col-md-6 col-sm-6 long" *ngFor="let product of products.slice(10, 11)">
          <div class="card mb-3" OpenProductDetails [productId]="product.id"> 
            <div class="imgdiv">
              <img  src="https://localhost:7149{{product.image}}" class="card-img-top product-image" alt="Product Image">
            </div>
              <div class="card-body">
                  <h5 class="card-title mt-3">{{ product.title }}</h5>
                  <p class="card-text text-center">{{ product.description }}</p>
                  <p class="card-text">Price: {{ product.price }}$</p>
                  <button class="btn button my-2" (click)="addToCart(product)" [disabled]="!utilityService.isLoggedIn()">
                    Add to Cart <br>
                    <span *ngIf="!utilityService.isLoggedIn()" class="btn button text-muted"> (Login First)</span>
                  </button>
               <br>
              </div>
        
      </div>
  
    </div>
    </div>
  </div>
</section>

