
<section class="my-5">
  <h2>Add Product</h2>
  <br>
<form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm)" enctype="multipart/form-data">
  <div class="form-group mb-3">
    <label for="title">title :</label>
    <input formControlName="title" type="text" class="form-control" name="title" id="title">
    <div *ngIf="productForm.get('title')?.errors != null && productForm.get('title')?.touched"
      class="alert alert-danger mt-2">
      <p *ngIf="productForm.get('title')?.errors?.['required']" class="m-0">Title is required..!!</p>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="category">Category :</label>
    
    <select formControlName="productCategory" class="form-control" name="productCategory" title="productCategory">
      <option value="">Select Category</option>
      <option *ngFor="let category of categories" [value]="category.id">
        {{ category.category }}
      </option>
    </select>
    <div *ngIf="productForm.get('productCategory')?.errors != null && productForm.get('productCategory')?.touched"
      class="alert alert-danger mt-2">
      <p *ngIf="productForm.get('productCategory')?.errors?.['required']" class="m-0">Category is required..!!</p>
    </div>
  </div>
  <div class="form-group mb-3">
    <label for="offer">Offer :</label>
    <select formControlName="offer" class="form-control" name="offer" title="offer">
      <option value="">Select Offer</option>
      <option *ngFor="let offer of offers" [value]="offer.id">
        {{ offer.title}}
      </option>
    </select>
    <div *ngIf="productForm.get('offer')?.errors != null && productForm.get('offer')?.touched"
      class="alert alert-danger mt-2">
      <p *ngIf="productForm.get('offer')?.errors?.['required']" class="m-0">Offer is required..!!</p>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="price">Price :</label>
    <input formControlName="price" type="text" class="form-control" name="price" id="price">
    <div *ngIf="productForm.get('price')?.errors != null && productForm.get('price')?.touched"
      class="alert alert-danger mt-2">
      <p *ngIf="productForm.get('price')?.errors?.['required']" class="m-0">Price is required..!!</p>
    </div>
  </div>


  <div class="form-group mb-3">
    <label for="quantity">Quantity :</label>
    <input formControlName="quantity" type="text" class="form-control" name="quantity" id="quantity">
    <div *ngIf="productForm.get('quantity')?.errors != null && productForm.get('quantity')?.touched"
      class="alert alert-danger mt-2">
      <p *ngIf="productForm.get('quantity')?.errors?.['required']" class="m-0">Quantity is required..!!</p>
    </div>
  </div>

  <div class="form-group mb-3">
    <label for="description">Description :</label>
    <textarea formControlName="description" class="form-control" id="description" name="description"></textarea>
    <div *ngIf="productForm.get('description')?.errors != null && productForm.get('description')?.touched"
      class="alert alert-danger mt-2">
      <p *ngIf="productForm.get('description')?.errors?.['required']" class="m-0">Description is required..!!</p>
    </div>
  </div>

  <div class="form-group mb-3">
    <div class="input-group mb-3">
      <input type="file" class="form-control" #file name="file" id="file" (change)="HandleFile(file.files)">
      <label class="input-group-text" for="file">Upload</label>
    </div>
  </div>

  <div class="btn-submit-action">
    <button class="btn btn-secondary w-100" type="submit">Add Product</button>
  </div>
</form>
</section>


