:host {
    display: block;
    overflow: hidden;
    height: max-content;
    border-radius: 1rem;
    box-shadow: 0px 0px 0.75rem rgba(128, 128, 128, 0.3);
    transition: transform 200ms ease-in-out;
}

:host:hover {
    transform: scale(1.03);
}

img {
    cursor: pointer;
    transition: transform 100ms ease-in;
}

img:hover {
    transform: scale(1.05);
}

.grid-view .card {
    height: 500px;
}

.grid-view .description,
.grid-view .title {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer span {
    background: none;
}

.list-view .card {
    padding: 20px 0;
    border: 1px solid #ccc;
}

.list-view .title {
    height: 50px;
    overflow: hidden;
}

.list-view .description {
    height: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item-view .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-view .card {
    border: 1px solid #ccc;
    padding: 20px;
}

.grid-view .card-title {
    color: #000000;
}

.grid-view img {
    object-fit: cover;
}

button {
    font-weight: bold;
    padding: 8px 0;
    font-size: 18px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.notification {
    display: none;
    padding: 10px;
    background-color: #28a745;
    color: white;
    margin-top: 10px;
}

.notification.success {
    display: block;
}