<div class="row">



  <div class="col-4">
    <img src="./assets/Pictures/login.jpg" alt="" />
  </div>
  <div class="col-8">

    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <h3 class="fw-bold text-center">Registration Form</h3>
      <br>
      <div class="container">
        <div class="input-wrapper">
          <div class="validation" [class.visible]="FirstName.touched && FirstName.invalid">
            <div class="form-text error-message" *ngIf="FirstName.errors?.['required']">
              First Name is Required
            </div>
            <div class="form-text error-message"
              *ngIf="FirstName.errors?.['minlength'] && (FirstName.dirty || FirstName.touched)">
              At least 2 characters & start with alphabet.
            </div>
            <div class="form-text error-message"
              *ngIf="FirstName.errors?.['startsWithAlphabet'] && (FirstName.dirty || FirstName.touched)">
              Name should start with an alphabet.
            </div>
          </div>
          <input type="text" placeholder="First Name" id="firstname1" formControlName="firstName"
            class="form-control" />
        </div>
        <div class="input-wrapper">
          <div class="validation" [class.visible]="LastName.touched && LastName.invalid">
            <div class="form-text error-message" *ngIf="LastName.errors?.['required']">
              Last Name is Required
            </div>
            <div class="form-text error-message" *ngIf="LastName.errors?.['minlength']">
              Last Name is too Short. At least 2 characters.
            </div>
            <div class="form-text error-message" *ngIf="LastName.errors?.['pattern']">
              Name should start with an alphabet.
            </div>
          </div>
          <input type="text" placeholder="Last Name" id="lastname1" formControlName="lastName" class="form-control" />
        </div>
      </div>

      <div class="mail">
        <div class="input-wrapper">
          <div class="validation" [class.visible]="Email.touched && Email.invalid">
            <div class="form-text error-message" *ngIf="Email.errors?.['required']">
              Email is Required
            </div>
            <div class="form-text error-message"
              *ngIf="Email.touched && Email.errors?.['pattern'] && (Email.dirty || Email.touched)">
              Email is Invalid
            </div>
          </div>
          <input type="text" placeholder="Email" id="email1" formControlName="email" class="form-control" />
        </div>

      </div>

      <div class="container">
        <div class="input-wrapper">
          <div class="validation" [class.visible]="Address.touched && Address.invalid">
            <div class="form-text error-message" *ngIf="Address.errors?.['required']">
              Address is Required
            </div>
          </div>
          <input type="text" placeholder="Address" id="address1" formControlName="address" class="form-control" />
        </div>
        <div class="input-wrapper">
          <div class="validation" [class.visible]="Mobile.touched && Mobile.invalid">
            <div class="form-text error-message" *ngIf="Mobile.errors?.['required']">
              Phone number is Required
            </div>
            <div class="form-text error-message" *ngIf="Mobile.errors?.['pattern']">
              Invalid Mobile Number
            </div>
          </div>
          <input type="text" placeholder="Phone Number" id="mobile1" formControlName="mobile" class="form-control" />
        </div>
      </div>

      <div class="container">
        <div class="input-wrapper">
          <div class="validation" [class.visible]="PWD.touched && PWD.invalid">
            <div class="form-text error-message" *ngIf="PWD.errors?.['required']">
              Password is Required
            </div>
            <div class="form-text error-message"
              *ngIf="((PWD.errors?.['minlength'] || PWD.errors?.['maxlength']) && (PWD.dirty || PWD.touched)) && (RPWD.dirty || RPWD.touched)">
              Password should be Between 6 and 15 Letters.
            </div>
          </div>
          <input type="password" placeholder="Password" id="pwd1" formControlName="pwd" class="form-control" />
        </div>

        <div class="input-wrapper">
          <div class="validation" [class.visible]="RPWD.touched && RPWD.invalid">
            <div class="form-text error-message" *ngIf="RPWD.errors?.['required']">
              Repeat Password is Required
            </div>
            <div class="form-text error-message" *ngIf="invalidRPWD">
              Doesn't match with Password!
            </div>
          </div>
          <input type="password" placeholder="Repeat Password" id="rpwd1" formControlName="rpwd" class="form-control" />
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="d-block mx-auto mb-4 btn btn-dark" [disabled]="registerForm.invalid">
          Create Account
        </button>
        <a routerLink="/login">Already have an account?</a>
      </div>
    </form>

  </div>
</div>