<div class="container">
  <div *ngIf="contacts.length > 0">
      <h2>All Messages</h2>

    <div *ngIf="contacts.length === 0">
      <p>No Messages found.</p>
    </div>
    <button class="btn btn-secondary text-light my-3 w-100" (click)="sortContacts()">Sort Messages (Latest)</button>
    <div class="contact-list container justify-content-center">
      <div class="card  mb-3 hover-scale" *ngFor="let contact of contacts">
        <div class="card-header fw-bold">{{ contact.user.firstName }} {{ contact.user.lastName }} <button (click)="deleteContact(contact.contactId)"><i class="fa-regular fa-trash-can"></i></button></div>
        <div class="card-body">
          <p class="card-text">Email: {{ contact.user.email }}</p>
          <!-- <p class="card-text">Mobile: {{ contact.user.mobile }}</p>
          <p class="card-text">Address: {{ contact.user.address }}</p> -->
          <p class="card-text">Sent At: {{ contact.sentAt}}</p>
          <p class="card-title"><strong>Message:</strong> {{ contact.message }}</p>
        </div>
      </div>
    </div>
    </div>
