.my-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .text-danger {
    color: red;
  }

  .error-message {
    color: red; /* Set the color to red */
    font-size: 12px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .submit-button {
    text-align: center;
  }

  .success-message {
    margin-top: 20px;
  }
  /* Custom CSS for dark modal */
  .modal-content {
    background-color: #343a40; /* Adjust as needed */
    color: #ffffff; /* Text color */
  }

  .modal-header {
    border-bottom: 1px solid #454d55; /* Border color */
  }

  .modal-title {
    color: #ffffff; /* Title color */
  }

  .modal-body {
    color: #ffffff;
  }

  .btn-close-white {
    filter: invert(1); /* Invert close button color */
  }

  /* Override Bootstrap's default input field styles */
  .input-field input[type="text"] {
    background-color: #343a40; /* Input background color */
    border: 1px solid #6c757d; /* Input border color */
    color: #ffffff; /* Input text color */
  }

  .input-field input[type="text"]:focus {
    border-color: #ffffff; /* Input border color on focus */
  }